* {
  font-family: helvetica, sans-serif;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("../img/pattern.jpeg");
  text-align: center;

}

span {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: blue;

}

.brushes {
  font-family: helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames {
  font-family: helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint {
  font-family: helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
